body{
    background-image: url('happy-couple-using-laptop-credit-card-while-shopping-online-home.jpg');
    background-size: cover; 
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.callout{
    font-size: larger;
    outline: auto;
    outline-color: grey;
    text-align: justify;
}

.table{
    font-size: xx-large;
    font: bold;
    backdrop-filter: blur(10px);
}



.nav-link:focus {
    background: linen;
    border: 2px;
    border-color: black;
    size: 500%;

}
